@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;800&family=Noto+Sans:wght@500&family=Roboto&display=swap');

:root {
    --cor-de-fundo: #FFFFFF;
    --cor-azul: #093959;
    --cor--preta: #262121;
    --cor-pretoclaro: #3A3535;
    --cor--cinza: #E0E0E0;
    --cor-ver: #B2231F;
    --azul-claro: #0C4A74;
    --fonte--NOTO: 'Noto Sans', sans-serif;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    color: var(--cor--preta);
    font-family: var(--fonte--NOTO);
}

body {
    background-color: var(--cor-de-fundo);
    box-sizing: content-box;
    width: 100%;
}


.imag {

    margin: 1% 34% 1% 3%;

}


/* .card:hover {

    width: 90%;
    transition: 0.7s;
    box-shadow: 1px 1px 200px 10px var(--cor--cinza);

} */



.cards {
    width: 90%;
    margin: 5% 5%;
    border-top: 10px solid var(--cor--cinza);
}

.cards2 {
    width: 90%;
    margin: 10% 5% 5%;
    border-top: 10px solid var(--cor--cinza);
}

.Conheca {
    color: var(--azul-claro);
    font-size: 33px;
    font-weight: 100;
}

.Conheca-strong {
    color: var(--cor-azul);
    font-size: 45px;
    font-weight: 900;
    border-bottom: 20px solid var(--cor-azul);
}

.card-title {

    padding: 3%;
    font-size: 40px;
    font-weight: 800;
    font-family: var(--fonte--NOTO);

}

.card-text {

    font-size: 20px


}

.btn {
    border: 2px solid var(--azul-claro);
    color: var(--cor-de-fundo);
    background-color: var(--azul-claro);
    font-size: 17px;
    padding: 3% 4%;
    text-align: center;
    width: 100%;
}

.btn2 {
    display: flex;
    border: 2px solid var(--cor-ver);
    color: var(--cor-de-fundo);
    background-color: var(--cor-ver);
    font-size: 17px;
    padding: 2% 1%;
    text-align: center;
    justify-content: center;
    align-items: center;
    width: 100%;
    text-decoration: none;
    margin-top: 2%;
    border-radius: 5px;
}

.btn2:hover{
    display: flex;
    border: 2px solid var(--cor-ver);
    color: var(--cor-de-fundo);
    background-color: var(--cor-ver);
    font-size: 19px;
    padding: 2% 1%;
    text-align: center;
    justify-content: center;
    align-items: center;
    width: 100%;
    text-decoration: none;
    margin-top: 2%;
    border-radius: 5px;
    transition: 0.4s;
}

.btn:hover {
    border: 2px solid var(--azul-claro);
    color: var(--cor-de-fundo);
    background-color: var(--azul-claro);
    font-size: 19px;
    transition: 0.4s;
    padding: 3% 4%;
    text-align: center;
    width: 100%;
}


.botao-a {
    width: 5%;
    position: fixed;
    bottom: 30px;
    left: 20px;

}

.botao-a:hover {
    width: 5.5%;
    position: fixed;
    transition: 0.6s;
    /* box-shadow:  1px 1px 160px 20px var(--cor--preta); */
}

.navbar-nav {
    display: flex;
    padding: 0.6%;
    
}

.nav-item {
    text-align: center;
    justify-content: center;
    align-items: center;
}

footer {
	background-color: var(--cor--cinza);
	color:var(--cor-de-fundo);
	padding: 20px;
	text-align: center;
	margin-top: 50px;
}

.P-footer {
    color: var(--cor-azul);
    font-size: 20px;
}

.img-foot {
    width: 5%;
    margin-bottom: 1%;
}

.P-footer2{
    color: var(--cor-azul);
    font-size: 18px;
}

.sfoot {
    color: var(--azul-claro);
}
